.css1
{
    color: red;
    width: 100%;
    background-color: yellowgreen;
    text-align: center;
}
.css2
{
    color: green;
    width: 100%;
    background-color: yellow;
    text-align: center; 
}